# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
crash.log
*.tfplan

# Local .terraform directory
.terraform/

# IDE specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*~